# Problem Statement

Car Data-
Here, we will apply k-means clustering for grouping the similar cars in one cluster

# Q1. Load the Cars Data file into Python DataFrame and view top 10 rows - 1 points

In [31]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler


from sklearn.decomposition import PCA
from scipy.stats import zscore

# Read the dataset

mpg_df = pd.read_csv("car-mpg.csv")

In [32]:
mpg_df.head(10)

    mpg  cyl   disp   hp    wt   acc  yr  origin                   car name
0  18.0    8  307.0  130  3504  12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165  3693  11.5  70       1          buick skylark 320
2  18.0    8  318.0  150  3436  11.0  70       1         plymouth satellite
3  16.0    8  304.0  150  3433  12.0  70       1              amc rebel sst
4  17.0    8  302.0  140  3449  10.5  70       1                ford torino
5  15.0    8  429.0  198  4341  10.0  70       1           ford galaxie 500
6  14.0    8  454.0  220  4354   9.0  70       1           chevrolet impala
7  14.0    8  440.0  215  4312   8.5  70       1          plymouth fury iii
8  14.0    8  455.0  225  4425  10.0  70       1           pontiac catalina
9  15.0    8  390.0  190  3850   8.5  70       1         amc ambassador dpl

# Q2 Print the datatypes of each column and the shape of the dataset. Perform descriptive analysis - 2 points

In [33]:
print("Shape of Dataset: ", mpg_df.shape)
print("Dataset Info: \n", mpg_df.info())

Shape of Dataset:  (398, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg         398 non-null float64
cyl         398 non-null int64
disp        398 non-null float64
hp          398 non-null object
wt          398 non-null int64
acc         398 non-null float64
yr          398 non-null int64
origin      398 non-null int64
car name    398 non-null object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB
Dataset Info:
 None

In [34]:
print("Descriptive Statitics for the given dataset: \n")
mpg_df.describe()

Descriptive Statitics for the given dataset:

,mpg,cyl,disp,wt,acc,yr,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

# Q3 Check for missing value check, incorrect data and perform imputation with mean, median, mode as necessary. - 1 points

In [52]:
print("NaN values in dataset:\n", mpg_df.isna().sum())

print("Null Values in dataset:\n", mpg_df.isnull().sum())

#Thus we see that there are no NaN or null values in the given dataset.

NaN values in dataset:
 mpg         0
cyl         0
disp        0
hp          0
wt          0
acc         0
yr          0
origin      0
car name    0
dtype: int64
Null Values in dataset:
 mpg         0
cyl         0
disp        0
hp          0
wt          0
acc         0
yr          0
origin      0
car name    0
dtype: int64

In [49]:
#Now, there is a column (hp) with datatype as object, which we should convert to Numerical for further processing:

In [48]:
#There seems to be a '?' in the 'hp' column, which should be imputed with the mean of the column's values.
mpg_df['hp'] = mpg_df['hp'].replace(to_replace='?', value = np.NaN)
mpg_df['hp'].fillna(mpg_df['hp'].mean(), inplace = True)

# Q4. Perform bi variate analysis including correlation, pairplots and state the inferences - 1 points

# Q5. Perform any feature engineering/transformation and remove any duplicate or irrelevant columns - 1.5 points

# Q6. Create new data frame with standardize variables and imputation for any missing/outliers - 2 points

# Q7. Create appropriate clusters with the new data set - 2


# Q8. Identify the appropriate clusters with result from above question - 1.5 points

# Q9. Check for no of values in each cluster and centers for each variables - 1 point

# Q10. Assign the groups created above to data frame and study the characteristics  for each group. - 2 points